<!-- Validation failure messages -->
<% if @relation_type.errors.any? %>
  <% @relation_type.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Relation Type</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_relation_type" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for relation -->
      <div class="form-group">
        <label for="relation" class="control-label">
          Relation
        </label>

        <input type="text" id="relation" name="relation" placeholder="Relation" class="form-control" value="<%= @relation_type.relation %>">
      </div>

      <button class="btn btn-success">
        Create Relation Type
      </button>
      or
      <a href="/relation_types">Cancel</a>
    </form>
  </div>
</div>
